# IDE stuff
.idea/*

# Jupyter stuff
**/.ipynb_checkpoints/

# Compiled Python/cache stuff
*.pyc
*.pyo

# Data
**/data/*

# Personal stuff
playground/Janzen/data/*
playground/Janzen/output/*
playground/Janzen/**/*_original.ipynb

