# IDE stuff
.idea/*

# Jupyter stuff
**/.ipynb_checkpoints/

# Compiled Python/cache stuff
*.pyc
*.pyo

# Data
**/data/*

# Submission
**/subm/*

# Binary Executable
**/bin/*

# Model
**/model/*

# Local stuff
bin/*
data/*
model/*
ouptut/*
**/*_original.ipynb
**/*.dffm.bin
# playground/Janzen/bin/*
# playground/Janzen/data/*
# playground/Janzen/model/*
# playground/Janzen/output/*
# playground/Janzen/**/*_original.ipynb
# playground/Janzen/**/*.dffm.bin
