# IDE stuff
.idea/*

# Jupyter stuff
**/.ipynb_checkpoints/

# Compiled Python/cache stuff
*.pyc
*.pyo

# Data
**/data/*

# Submission
**/subm/*

# Binary Executable
**/bin/*

# Model
**/model/*

# Personal stuff
playground/Janzen/bin/*
playground/Janzen/data/*
playground/Janzen/model/*
playground/Janzen/output/*
playground/Janzen/**/*_original.ipynb
playground/Janzen/**/*.dffm.bin
